.upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
} .logo{
    height: 300px;
} .p-3{
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: #2f435e;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
} h1{
    color: white;
} .btn-info{
    width: 80%;
    font-size: 120%;
    border: none;
    text-align: left;
}.btn-success{
    font-size: 120%;
} ::placeholder{
    color: white;
    font-size: 20px;
    text-align: left;
} :-ms-input-placeholder{
    color: white;
    font-size: 20px;
    text-align: left;
} ::-ms-input-placeholder{
    color: white;
    font-size: 20px;
    text-align: left;
} .lower{
    display: flex;
    justify-content: center;
} .limit{
    width: 490px;
} .d-block{
    height: 300px;
    object-fit: cover;
}