extends layout.pug

block extra
        link(rel='stylesheet' href='/css/passwordChange.css')
        title Forgot Password
block content 
    .upper
        img.logo(src='/images/logo.png')
        .p-3
            h3.mt-2 Add New Password
            form.mt-3(action="/users/password/verify/final", method="post")
                .form-group
                    input.btn.btn-info.p-2(type="password" name="password" placeholder="Enter New password" required)
                .form-group
                    input.btn.btn-info.p-2(type="password" name="password2" placeholder="Confirm Password" required)
                button.btn.btn-success(type='submit') Submit
    .lower
        .limit
            .carousel.slide#portfolioslides(data-ride="carousel" data-interval="2500")
                ol.carousel-indicators
                    li.active(data-target="#portfolioslides" data-slide-to="0")
                    li(data-target="#portfolioslides" data-slide-to="1")
                    li(data-target="#portfolioslides" data-slide-to="2")
                .carousel-inner
                    .carousel-item.active
                        img.d-block(src="/images/1slide.png")
                    .carousel-item
                        img.d-block(src="/images/2slide.png")
                    .carousel-item
                        img.d-block(src="/images/3slide.png")