extends layout.pug

block extra
        link(rel='stylesheet' href='/css/password.css')
        title Forgot Password

block content 
    .upper
        img.logo(src='/images/logo.png')
        .p-3
            h1 Forgot Password?
            form.mt-3(action="/users/password", method="post")
                .form-group
                    input.btn.btn-info.p-2(type="email" name="email_confirm" placeholder="Enter Registered Email" required)
                button.btn.btn-success(type='submit') Send Link
    .lower
        .limit
            .carousel.slide#portfolioslides(data-ride="carousel" data-interval="2500")
                ol.carousel-indicators
                    li.active(data-target="#portfolioslides" data-slide-to="0")
                    li(data-target="#portfolioslides" data-slide-to="1")
                    li(data-target="#portfolioslides" data-slide-to="2")
                .carousel-inner
                    .carousel-item.active
                        img.d-block(src="/images/1slide.png")
                    .carousel-item
                        img.d-block(src="/images/2slide.png")
                    .carousel-item
                        img.d-block(src="/images/3slide.png")